<section class=''>
	<div class='container_footer'>
		<div class='wrapper_footer'>

			<div class='wrapper_footer-information'>
				<h3 class=''>Связаться с нами</h3>
				<p>
					Нью-Йорк, 4140 Паркер Роуд. Аллентаун, Нью-Мексико, 31134
				</p>
				<h4> +1 (555) 656 77 89</h4>
				<h5> info@sample.com</h5>
			</div>
			<div class='wrapper_footer-text'>
				<h3>Запишите меня!</h3>
				<p>
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
					dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est
					Laborum.</p>
				<div class='contact'><input type='text' class='' />
					<button></button></div>

			</div>

		</div>
	</div>
</section>