<header class='header'>
	<nav class='header_wrapper'>
		<ul class='container header_navigation'>
			<a href=''><li class='header_navigation-item'>Главная</li></a>
			<a href=''><li class='header_navigation-item'>Концепция ЖК</li></a>
			<a href=''><li class='header_navigation-item'>Отзывы</li></a>
			<a href=''><li class='header_navigation-item'>О нас</li></a>
			<a href=''><li class='header_navigation-item'>Личный кабинет</li></a>
		</ul>
	</nav>
</header>
