<header class='header'>
	<nav class='header_wrapper'>
		<ul class='container header_navigation'>
			<a href='#top'><li class='header_navigation-item'>Главная</li></a>
			<a href='#about'><li class='header_navigation-item'>О нас</li></a>
			<a href='#gallery'><li class='header_navigation-item'>Галерея</li></a>
			<a href='#map-section'><li class='header_navigation-item'>Карта</li></a>
			<a href='#contacts'><li class='header_navigation-item'>Контакты</li></a>
			<a href='#reviews'><li class='header_navigation-item'>Отзывы</li></a>
		</ul>
	</nav>
</header>
<div class='spinner-loader'>
	<div class='spinner'></div>
</div>

<div class='modal'>
	<div class='modal_layout'>
		<div class='modal_layout-content'>
			<div class='modal_close modal_close-btn'>
				<svg width='30' height='30' viewBox='0 0 24 24' fill='none'>
					<path
						d='M16 8L8 16M8.00001 8L16 16'
						stroke='#000000'
						stroke-width='1.5'
						stroke-linecap='round'
						stroke-linejoin='round'
					/>
				</svg>
			</div>
			<div class='modal_layout-content-wrapper'>
				<img
					class='modal_layout-image'
					src='/images/success.png'
					alt='Успешно'
				/>
				<div class='modal_layout-text'>
					<h3 class='modal_layout-title'>Спасибо за подписку</h3>
					<p class='modal_layout-description'>В ближайшее время мы отправим Вам
						сообщение на почту</p>
					<button class='modal_layout-button modal_close-btn'>Закрыть</button>
				</div>
			</div>
		</div>
	</div>
</div>