<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/reset.css' />
		<link rel='stylesheet' href='/stylesheets/vars.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'
			rel='stylesheet'
		/>
		<link
			rel='stylesheet'
			href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css'
		/>
	 <script src="https://api-maps.yandex.ru/2.1/?apikey=4d97ed05-203b-47f3-abc8-cc3f6c60988a&lang=ru_RU"
  type="text/javascript">
	
  </script>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" /> 
	</head>
	<body>
		{{> header}}

		{{{body}}}
		
		{{> footer}}
	</body>
	<script
		src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js'
	></script>
	<script src="
https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.js
"></script>
	<script src='/javascripts/slides.js'></script>
	<script src='/javascripts/index.js'></script>

</html>