{{!< assessment}}
<section class='section_mb' id='about'>
	<div class='content_container'>
		<div class='wrapper_about'>
			<div class='wrapper_about-text'>
				<div class='wrapper_about-text-title'>
					<h1 class='section-title'>«Формат»<br /> жилой комплекс</h1>
				</div>
				<div class='wrapper_about-info'>
					<h4>Это не просто жилье, это целая философия жизни.</h4>
					<p>ЖК «Формат» - новый современный жилой комплекс, расположенный в
						самом сердце города. Мы создаем не просто дома, а целую экосистему
						для комфортной и счастливой жизни.</p>
				</div>
			</div>
			<div class='wrapper_about-pictures'>
				<div class='wrappper_images'>

					<img class='pic-left' src='/images/pic-left.jpg' alt='' />

					<img class='pic-right' src='/images/pic-right.jpg' alt='' />

					<div
						class='pic-center picture_about-wrapper wrapper-move'
						data-speed='1'
					>
						<div class='counter_wrapper'>
							<h3 class='counter'>0</h3>
							<span class='counter'>k</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>