<section class='main_banner section_mb'>
	<div class='main_banner_image'>
		<div class='slider_banner'>
			<div class='slider_banner-slide'>
				<div class='container'>
					<div class='banner_description'>
						<h2 class='banner_description_title'>Новый дом №3</h2>
						<p class='banner_description_text'>Старт продаж дома №3. Успей
							купить, пока действует скидка на каждую квартиру в размере 200 000
							рублей!</p>
						<button class='banner_description_btn'>Узнать больше</button>
					</div>
				</div>
				<img
					class='slider_banner_image'
					src='/images/s_1.jpg'
					alt='Слайд'
				/></div>
			<div class='slider_banner-slide'>
				<div class='container'>
					<div class='banner_description'>
						<h2 class='banner_description_title'>Новый дом №10</h2>
						<p class='banner_description_text'>Старт продаж дома №10. Успей
							купить, пока действует скидка на каждую квартиру в размере 740 000
							рублей!</p>
						<button class='banner_description_btn'>Узнать больше</button>
					</div>
				</div>
				<img
					class='slider_banner_image'
					src='/images/s_2.jpg'
					alt='Слайд'
				/></div>
			<div class='slider_banner-slide'>
				<div class='container'>
					<div class='banner_description'>
						<h2 class='banner_description_title'>Новый дом №5</h2>
						<p class='banner_description_text'>Старт продаж дома №5. Успей
							купить, пока действует скидка на каждую квартиру в размере 500 000
							рублей!</p>
						<button class='banner_description_btn'>Узнать больше</button>
					</div>
				</div>
				<img
					class='slider_banner_image'
					src='/images/s_3.jpg'
					alt='Слайд'
				/></div>

		</div>
		<div class='swiper-pagination'></div>
	</div>
</section>

<header class='header'>
	<nav class='header_wrapper'>
		<ul class='container header_navigation'>
			<a href=''><li class='header_navigation-item'>Главная</li></a>
			<a href=''><li class='header_navigation-item'>Концепция ЖК</li></a>
			<a href=''><li class='header_navigation-item'>Отзывы</li></a>
			<a href=''><li class='header_navigation-item'>О нас</li></a>
			<a href=''><li class='header_navigation-item'>Личный кабинет</li></a>
		</ul>
	</nav>
</header>
<section class='section_mb'>
	<div class='content_container'>
		<div class='wrapper_about'>
			<div class='wrapper_about-text'>
				<div class='wrapper_about-text-title'>
					<h1 class='section-title'>Мы повышаем красоту вашего дома</h1>
				</div>
				<div class='wrapper_about-info'>
					<h4>Мы создали собственную Методологию цифровой трансформации.</h4>
					<p>Разнообразный и богатый опыт говорит нам, что экономическая
						повестка сегодняшнего дня не оставляет шанса для поставленных
						обществом задач. Не следует, однако, забывать, что понимание сути
						ресурсосберегающих технологий предоставляет широкие возможности для
						новых предложений.</p>
				</div>
			</div>
			<div class='wrapper_about-pictures'>
				<div class='wrappper_images'>

					<img class='pic-left' src='/images/pic-left.jpg' alt='' />

					<img class='pic-right' src='/images/pic-right.jpg' alt='' />

					<div class='pic-center picture_about-wrapper'><div
							class='counter_wrapper'
						>
							<h3 class='counter'>0</h3>
							<span class='counter'>k</span>
						</div></div>
				</div>
			</div>

		</div>
	</div>
</section>
<section class='section_mb section_gallery'>
	<div class='container gallery_container'>
		<div class='wrapper_gallery'>

			<div class='wrapper_gallery-scroller'>
				<div class='image-top gallery-scroller-img'>
					<img class='gallery-image-item' src='/images/pic-left.jpg' alt='' />
				</div>
				<div class='image-top gallery-scroller-img'>
					<img class='gallery-image-item' src='/images/pic-right.jpg' alt='' />
				</div>
				<div class='image-top gallery-scroller-img'>
					<img class='gallery-image-item' src='/images/s_1.jpg' alt='' />
				</div>
				<div class='gallery-scroller-img'>
					<img class='gallery-image-item' src='/images/s_2.jpg' alt='' />
				</div>
				<div class='gallery-scroller-img'>
					<img class='gallery-image-item' src='/images/s_3.jpg' alt='' />
				</div>
				<div class='gallery-scroller-img'>
					<img class='gallery-image-item' src='/images/s_1.jpg' alt='' />
				</div>
			</div>
			<div class='wrapper_gallery-text'>
				{{! <h3 class='section-title'>Галерея</h3> }}
				<h4>Таким образом, укрепление и развитие внутренней структуры
					представляет собой интересный эксперимент проверки своевременного
					выполнения сверхзадачи.</h4>
			</div>
		</div>
	</div>
	<div class='pop-up'>
		<span class='popup-close'><svg
				width='30'
				height='30'
				viewBox='0 0 24 24'
				fill='none'
			>
				<path
					d='M16 8L8 16M8.00001 8L16 16'
					stroke='#000000'
					stroke-width='1.5'
					stroke-linecap='round'
					stroke-linejoin='round'
				/>
			</svg></span>
		<div>
			<img class='gallery-popup-image' src='/images/s_1.jpg' alt='' />
		</div>

	</div>
</section>