.section_mb {
	margin-bottom: var(--section-mb);
}
.section-title {
	font-size: var(--section-title-h1);
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
body {
	font-family: 'Inter', sans-serif;
	background-color: #111927;
	margin: 0 auto;
}
h2 {
	font-size: 60px;
}
h3 {
	font-size: 40;
}
h4 {
	font-size: 25px;
	color: rgb(138, 138, 138);
}
h5 {
	font-size: 25px;
}
p {
	font-size: 22px;
}
.header {
	z-index: 999;
	top: 0;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	width: calc(100% - 100px);
}

nav {
	flex: 1;
	/* width: 100%; */

	margin-top: 20px;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
}
.content_container {
	max-width: 1550px;
	margin: 0 auto;
}
.header_wrapper {
	/* width: 100%; */
	padding: 0 60px 0 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 90px;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	transition: 0.6s ease;
}
.header_wrapper-active {
	background-color: rgba(43, 52, 70, 0.75);
}
.header_wrapper {
	a {
		color: white;
		font-size: 22px;
		text-decoration: none;
		transition: all 0.3s;
	}
	a:hover {
		color: #ff8c00;
	}
}
.header_navigation {
	width: 100%;
	height: 100%;
	justify-content: flex-start;
	display: flex;
	align-items: center;
	gap: 50px;
}
.slider_banner {
	height: 100%;
	position: relative;
	display: flex;
}
.slider_banner-slide {
	flex: 0 0 auto;
}
.main_banner_image {
	width: 100%;
	height: 90%;
	overflow: hidden;
}
.slider_banner_image {
	object-fit: cover;
	height: 100%;
	width: 100%;
	filter: brightness(75%);
}

.banner_description {
	width: 500px;
	position: absolute;
	top: 60%;
	transform: translateY(-50%);
	z-index: 20;

	padding: 30px 40px;
	backdrop-filter: blur(8px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.151);
	border-radius: 12px;
	border: 1px solid rgba(209, 213, 219, 0.3);
	button {
		width: 50%;
	}
}
.banner_description_text {
	line-height: 30px;
	margin-bottom: 20px;
	color: white;
}

.banner_description_title {
	color: white;
	margin-bottom: 40px;
	font-weight: bold;
}
.swiper-pagination {
	bottom: 120px !important;
}
.swiper-pagination-bullet {
	width: 130px !important;
	height: 4px !important;
	border-radius: 10px !important;
	background-color: #fff !important;
	opacity: 0.5 !important;
	transition: all 0.4s !important;
}
.swiper-pagination-bullet-active {
	width: 250px !important;
	opacity: 1 !important;
}
.wrapper_about {
	width: 100%;
	min-height: 790px;
	display: flex;
}
.wrapper_about-text {
	width: 700px;
	padding: 10px;
	display: flex;
	gap: 40px;
	flex-direction: column;

	.wrapper_about-text-title {
		color: aliceblue;
	}
	.wrapper_about-info {
		text-align: right;
		display: flex;
		flex-direction: column;
		gap: 15px;
		line-height: 30px;
		max-width: 520px;
		color: rgb(230, 230, 230);
	}
}
img {
	width: 100%;
	height: 100%;
}
.wrapper_about-pictures {
	position: relative;
	padding: 40px;
	width: 900px;
	flex: 1;
}
.picture_about-wrapper {
	width: 290px;
	height: 320px;
	/* position: absolute; */
	top: 0;
}
.pic-left {
	filter: brightness(70%);
	object-fit: cover;
	left: 50px;
	z-index: 2;
	top: 200px;
	margin: 0 0 0 auto;
	height: 300px;
	width: 375px;
	border-radius: 12px;
	box-shadow: 10px 10px 176px -34px rgba(255, 255, 255, 0.75);
	-webkit-box-shadow: 10px 10px 176px -34px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: 10px 10px 176px -34px rgba(255, 255, 255, 0.75);
}
.pic-center {
	width: 300px;
	height: 300px;
	background-color: rgb(219, 219, 219);
	margin: -479px auto 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(43, 52, 70, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	color: white;
}
.counter_wrapper {
	padding: 40px;
	display: flex;
}
.counter {
	font-weight: bold;
	font-size: 90px;
}
.wrappper_images {
	display: flex;
	flex-direction: column;
}
.pic-right {
	border-radius: 12px;
	filter: brightness(75%);
	object-fit: cover;
	height: 300px;
	width: 375px;
	margin: 23px auto 0 0;
	box-shadow: 10px 10px 176px -34px rgba(255, 255, 255, 0.75);
	-webkit-box-shadow: 10px 10px 176px -34px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: 10px 10px 176px -34px rgba(255, 255, 255, 0.75);
	z-index: 2;
}

.gallery_container {
	height: auto;
	width: 100%;
	margin-bottom: 50px;
}
.wrapper_gallery-text {
	text-align: center;
}
.wrapper_gallery .wrapper_gallery-scroller {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}
.gallery-scroller-img {
	width: 380px;
	height: 250px;
	border-radius: 15px;
	overflow: hidden;

	img {
		transition: transform 0.4s;
		width: 100%;
		height: 100%;
		object-fit: cover;
		cursor: pointer;
	}
}
.image-top {
	width: 380px;
	height: 320px;
}
.gallery-scroller-img:hover img {
	transform: scale(1.5);
}

.pop-up {
	opacity: 0;
	pointer-events: none;
	transition: ease-in-out 0.4s;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.5);
		border-radius: 20px;

		-webkit-box-shadow: 0px 1px 44px -17px rgba(244, 244, 244, 0.68);
		-moz-box-shadow: 0px 1px 44px -17px rgba(244, 244, 244, 0.68);
		box-shadow: 0px 1px 44px -17px rgba(244, 244, 244, 0.68);

		transition: all 0.5s;
		height: auto;
		width: 70%;
		opacity: 0;
	}

	span {
		z-index: 1000;
		position: fixed;
		top: 30px;
		right: 100px;
		width: 60px;
		height: 60px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
		border-radius: 50%;
		font-weight: 900;
		cursor: pointer;
		svg {
			transition: all 0.3s;
			width: 45px;
			height: 45px;
		}
	}
	span:hover svg path {
		stroke: white;
	}
	span:hover {
		background: #ff8c00;
	}
}

.popup-img-active {
	transform: translate(-50%, -50%) scale(1) !important;
	opacity: 1 !important;
}
.popup_active {
	opacity: 1;
	pointer-events: all;
}

.wrapper_informations {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.wrapper_informations-left-block .wrapper_informations-right-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper_informations-left-block {
	width: 500px;

	h3 {
		color: #fff;
		text-align: right;
		margin-bottom: 30px;
	}
}

.wrapper_informations-right-block {
	width: 400px;
	h4 {
		text-align: left;
		margin-bottom: 30px;
	}
}
/*  */
.wrapper_informations-right-block-image,
.wrapper_informations-left-block-image {
	position: relative;
}

.wrapper_informations-right-block-image img,
.wrapper_informations-left-block-image img {
	/* display: block; */
	/* width: 100%;
	height: auto; */
	-webkit-box-shadow: 0px 1px 44px -17px rgba(244, 244, 244, 0.68);
	-moz-box-shadow: 0px 1px 44px -17px rgba(244, 244, 244, 0.68);
	box-shadow: 0px 1px 44px -17px rgba(244, 244, 244, 0.68);
	transition: transform 0.3s ease-in-out;
	transform-origin: center center;
	border-radius: 15px;
	margin-bottom: 30px;
}

.wrapper_informations-right-block-image:hover img,
.wrapper_informations-left-block-image:hover img {
	transform: scale(1.1);
}
/* ? */
.button {
	appearance: none;
	box-sizing: border-box;

	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 16px 24px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 100%;
	will-change: transform;

	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 249, 241, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	color: rgb(0, 0, 0);
}
.button:disabled {
	pointer-events: none;
}
.button:hover {
	color: #ffffff;
	background-color: #ff8c00;
	box-shadow: rgba(95, 94, 93, 0.25) 0 8px 15px;
	transform: translateY(-3px);
}
.button:active {
	box-shadow: none;
	transform: translateY(0);
}

.footer {
	background: #2c333f;
	border-radius: 32px 32px 0 0;
}
.wrapper_footer {
	display: flex;
	justify-content: space-between;
	padding: 40px 0 80px 0;
	h3,
	h5 {
		color: #fff;
	}
	p {
		color: rgb(216, 216, 216);
		margin-bottom: 20px;
		line-height: 30px;
	}
	h3 {
		margin-bottom: 20px;
	}
	h4 {
		padding-bottom: 6px;
	}
}
.wrapper_footer-information {
	max-width: 400px;
}
.wrapper_footer-text {
	max-width: 600px;
	text-align: end;
}
.contact {
	position: relative;
}
.contact_btn {
	opacity: 0.7;
	pointer-events: none;
	top: 4px;
	position: absolute;
	border-radius: 12px;
	width: 48px;
	height: 48px;
	border: none;
	cursor: pointer;
	right: 4px;
	background-color: #111927;
	transition: all 0.4s;
}
.contact_btn_active {
	opacity: 1;
	pointer-events: all;
}
.contact_btn:hover {
	background-color: #ff8c00;
}
.contact_btn svg path {
	stroke: white;
}
.contact_input {
	transition: all 0.4s;
	opacity: 0.8;
	padding: 12px 24px;
	font-size: 20px;
	line-height: 28px;
	outline: none;

	border-radius: 12px;
	font-family: 'Inter', sans-serif;
	border: 2px solid transparent;
}
.contact_input_invalid {
	border: 2px solid rgb(187, 2, 2);
}
.contact:hover .contact_btn {
	border-radius: 50%;
}
.contact:hover .contact_input {
	opacity: 1;
	border-radius: 36px;
}
.email_error {
	opacity: 0;
	transition: all 0.4s;
	padding-top: 0;
	font-size: 15px;
	color: red !important;
	padding-right: 70px;
}
.email_error_visible {
	opacity: 1 !important;
	padding-top: 5px;
}
.contact_input:focus {
	opacity: 1;
	border-radius: 36px;
}
.contact_btn_focused {
	border-radius: 50%;
}
.contact_input:focus .contact_btn {
	border-radius: 50%;
}
/* .contact_input:hover {
} */
.modal {
	opacity: 0;
	pointer-events: none;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999;
}
.modal_active {
	opacity: 1;
	pointer-events: all;
}
.modal_layout {
	width: 100%;
	height: 100%;
	background-color: rgba(10, 12, 43, 0.712);
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal_layout-content {
	transition: ease 0.3s;
	opacity: 0;
	transform: scale(0.5);
	position: relative;
	min-height: 500px;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(43, 52, 70, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	border-radius: 24px;
	padding: 36px 24px;
	min-width: 400px;
}
.modal_layout-content-active {
	transform: scale(1);
	opacity: 1;
}
.modal_layout-content-wrapper {
	width: 100%;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}
.modal_layout-image {
	width: 200px;
	height: 200px;
}
.modal_layout-title {
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 24px;
	color: #fff;
}
.modal_layout-button {
	padding: 12px 24px;
	font-size: 18px;
	color: #fff;
	border: none;
	border-radius: 16px;
	cursor: pointer;
	background-color: #ff8c00;
	font-family: 'Inter', sans-serif;
	transition: ease 0.4s;
}
.spinner-loader {
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
	position: fixed;
	z-index: 9999999999;
	display: flex;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
	height: 100vh; /* Центрируем спиннер по вертикали */
}
.spinner-loader-visible {
	opacity: 1;
}
.spinner {
	width: 20px;
	height: 20px;
	border: 5px solid #ff8c00;
	border-top-color: transparent;
	border-radius: 50%;
	animation: spin 0.5s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.modal_layout-button:hover {
	background-color: #111927;
	color: #ff8c00;
}
.modal_layout-description {
	color: #fff;
	line-height: 28px;
	margin-bottom: 30px;
}
.modal_layout-text {
	text-align: center;
	max-width: 400px;
}
.modal_close {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	right: -55px;
	top: -35px;
	transition: ease 0.4s;
}
.modal_close svg path {
	transition: ease 0.4s;
}
.modal_close:hover {
	background-color: #ff8c00;
}
.modal_close:hover svg path {
	stroke: white;
}
.map {
	height: 600px;
	width: 100%;
}
.map-wrapper {
	filter: brightness(85%);
	overflow: hidden;
	border-radius: 25px;
	border: 5px solid #ff8c00;
}

.mistakes-container {
	max-width: 100%;
	height: 600px;

	background: url('/images/pic-orange.jpg') center 90%;
	background-repeat: no-repeat;
	background-size: cover;

	filter: brightness(90%);

	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(43, 52, 70, 0.75);
	border: 1px solid rgba(255, 255, 255, 0.125);
	color: white;
	-webkit-box-shadow: 0px 1px 44px -17px rgba(244, 244, 244, 0.68);
	-moz-box-shadow: 0px 1px 44px -17px rgba(244, 244, 244, 0.68);
	box-shadow: 0px 1px 44px -17px rgba(244, 244, 244, 0.68);
}
.mistakes-wrapper {
	max-width: 700px;
	height: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(43, 52, 70, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);

	button {
		width: 50%;
	}
}
.mistakes-wrapper-text {
	color: white;
	width: 80%;
	height: 100%;

	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	p {
		line-height: 30px;
	}
}
.banner_estimate {
	filter: brightness(85%);
	width: 100%;
	height: 800px;
	background: url('/images/img-room2.jpg') 30%;
	-webkit-box-shadow: 0px 1px 44px -17px rgba(244, 244, 244, 0.68);
	-moz-box-shadow: 0px 1px 44px -17px rgba(244, 244, 244, 0.68);
	box-shadow: 0px 1px 44px -17px rgba(244, 244, 244, 0.68);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.swiper {
	width: 600px;
	height: 100%;
	transform: translateX(-50%);
}
.banner_description_estimate {
	height: 360px;
	width: 500px;
	position: absolute;
	top: 60%;
	transform: translateY(-50%);

	z-index: 20;

	padding: 30px 40px;

	border-radius: 12px;
	border: 1px solid rgba(230, 230, 230, 0.3);
	background-color: rgba(53, 60, 73, 0.384);
	backdrop-filter: blur(15px) saturate(180%);
	button {
		width: 50%;
	}
	h4 {
		margin-bottom: 32px;
		color: #ff8c00;
		font-weight: bold;
	}
}
.banner_description_estimate-title {
	line-height: 30px;
	margin-bottom: 20px;
	color: white;
}

.banner_description_estimate-text {
	color: white;
	margin-bottom: 40px;
	line-height: 30px;
}
.img-plan {
	filter: brightness(85%);
}
.popup_modal-wrapper {
	position: absolute;
	border-radius: 20px;
	padding: 44px 30px 50px 30px;
	height: fit-content;
	width: 400px;
	border: 2px solid white;
	backdrop-filter: blur(8px) saturate(30%);
	background-color: rgba(255, 255, 255, 0.226);

	transition: 0.3s ease-in-out;
}
.popup_modal-wrapper_hidden {
	opacity: 0;
	pointer-events: none;
}
.field_label {
	color: white;
	font-size: 22px;
}
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background: rgba(10, 12, 43, 0.712);
	z-index: 100000;
	opacity: 0;
	pointer-events: none;
	transition: 400ms;
	display: flex;
	justify-content: center;
	align-items: center;
}
.overlay_show {
	opacity: 1 !important;
	pointer-events: all;
}
.feedback-content {
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
	h5 {
		margin-left: 2px;
	}
}

.field_input {
	width: 100%;
	outline: none;
	padding: 12px;
	border: 2px solid #464d55;
	color: #464d55;
	font-size: 20px;

	border-radius: 10px;
}
.field-button {
	display: flex;
	justify-content: center;
	button {
		width: 50%;
		margin-top: 15px;
	}
}
.simple-navigation {
	z-index: 999;
	top: 0;
	position: fixed;
	top: 35%;
	left: 0%;
	right: 0%;

	transform: translateX(-90%);

	transition: transform 0.4s;
	padding: 20px 0;
	height: fit-content;
	width: fit-content;
	background: #ffffff;
	border-radius: 0 25px 25px 0;
	border-bottom-right-radius: 30px;
	display: flex;
	align-items: center;
	min-width: 80px;
	justify-content: center;
}
.simple-navigation:hover {
	transform: translateX(1%);
}
.svg-pitures {
	width: fit-content;
}
.simple-navigation-svg {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}
.svg-logo-header {
	transition: ease 0.3s;
}
.svg-logo-header:hover {
	fill: #ff8c00;
}
.svg-pitures-icon {
	width: 40px;
}
.logo {
	display: flex;
	justify-content: start;
	align-items: self-end;
	gap: 10px;
	h3 {
		color: #fff;
		font-weight: lighter;
	}
}
.error-input {
	border: 1px solid red;
}
